---
name: PR Title Check

"on":
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  commitlint:
    name: Check Semantic PR Title
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR Title (Conventional Commits)
        uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Require a scope (e.g., feat(api): instead of just feat:)
          requireScope: false
          # Customize error message
          validateSingleCommit: true
